*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right, #af4d96, #3d8);
}
.card{
    &__list{
        margin: 120px auto;
        width:300px;
        height:400px;
        background-color: ;
    }
}
